<footer class="fixed bottom-0 left-0 w-full p-8  text-white">
    <div
        class="text-white flex flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 text-center md:justify-between">

        <ul class="flex flex-wrap items-center gap-y-2 gap-x-4 lg:gap-x-8">
            <li>
                <a href="#" class="text-white/90 hover:text-white text-slate-700 focus:text-slate-500 text-sm">
                    Plantillas
                </a>
            </li>
            <li>
                <a href="#" class="text-white/90 hover:text-white text-slate-700 focus:text-slate-500 text-sm">
                    Comunidad
                </a>
            </li>
            <li>
                <a href="#" class="text-white/90 hover:text-white text-slate-700 focus:text-slate-500 text-sm">
                    Nosotros
                </a>
            </li>
            <li>
                <a href="#" class="text-white/90 hover:text-white text-slate-700 focus:text-slate-500 text-sm">
                    Contacto
                </a>
            </li>
        </ul>

        <a href="./"><img src="/assets/images/logo.png" alt="Logo TuFolio"
                class="h-12 sm:h-14 md:h-16 lg:h-18 xl:h-18 2xl:h-20"></a>



    </div>
    <p class="text-white block mb-4 text-sm text-center text-slate-500 md:mb-0 border-t border-slate-200 mt-4 pt-4"
        aria-label="Aviso de copyright">
        &copy; <time datetime="2026">2026</time>&nbsp;
        <a href="https://kodak-code.example/" target="_blank" rel="noopener noreferrer">Kodak‑Code</a>. Todos los
        derechos reservados.
    </p>


</footer>